<div id="local-masthead" class="masthead grid_24 nomenu">

    <!-- local-title -->
    <!-- NB: for additional title style patterns, see http://frontier.ebi.ac.uk/web/style/patterns -->

    <div class="grid_12 alpha logo-title" id="local-title">
        <a href="#/" title="Back to PRIDE Cluster homepage">
            <img src="//www.ebi.ac.uk/pride/resources/logos/pride-cluster-logo.png" alt="PRIDE Cluster Logo" height="64" width="64">
        </a>
        <span>
            <h1>
                <a href="#/" title="Back to PRIDE Cluster homepage">PRIDE Cluster</a>
            </h1>
        </span>
    </div>

    <!-- /local-title -->

    <!-- local-search -->
    <!-- NB: if you do not have a local-search, delete the following div, and drop the class="grid_12 alpha" class from local-title above -->

    <div class="grid_12 omega">
        <!--<form id="local-search" name="local-search" action="/#" method="get">-->
        <form novalidate class="simple-form" id="local-search" name="local-search">
            <fieldset>
                <div class="left">
                    <label>
                        <input ng-model="searchTerm" ng-change="sequenceFilterChanged()" type="text" name="q" id="local-searchbox" placeholder="Search peptide">
                    </label>
                    <!-- Include some example searchterms - keep them short and few! -->
                    <span class="examples">Examples:
                        <a href="#/list?q=ELGITALHIK&page=1&size=20">ELGITALHIK</a>,
                        <a href="#/list?q=LSVDYGK&page=1&size=20">LSVDYGK</a>
                    </span>
                </div>
                <div class="right">
                    <input ng-click="search()" type="submit" name="submit" value="Search" class="submit">
                    <!-- If your search is more complex than just a keyword search, you can link to an Advanced Search,
                         with whatever features you want available -->
                    <!--<span class="adv"><a href="/spectral" id="adv-search" title="Spectral">Spectral</a></span>-->
                </div>
            </fieldset>
        </form>
    </div>

    <!-- /local-search -->

    <!-- local-nav -->

    <nav>
        <ul class="grid_24" id="local-nav">
            <li class="first"><a  ng-class="{'menu-active' : isActive('/')}" href="#/">Home</a></li>
            <li><a ng-class="{'menu-active' : isActive('/list')}" href="#/list" >Peptide Search</a></li>
            <li><a ng-class="{'menu-active' : isActive('/libraries')}" href="#/libraries">Spectrum Library</a></li>
            <li><a ng-class="{'menu-active' : isActive('/statistics')}" href="#/statistics">Statistics</a></li>
            <li><a href="#/api" class="last">API</a></li>

            <!-- If you need to include functional (as opposed to purely navigational) links in your local menu,
                 add them here, and give them a class of "functional". Remember: you'll need a class of "last" for
                 whichever one will show up last...
                 For example: -->
            <li class="functional"><a href="http://www.ebi.ac.uk/support/index.php?query=pride">Feedback</a></li>
            <li class="functional"><a ng-href="#/about">About</a></li>
            <li class="functional"><a ng-href="#/help">Help</a></li>
            <!--<li class="functional"><a href="#" class="icon icon-functional" data-icon="r">Share</a></li>-->
        </ul>
    </nav>

    <!-- /local-nav -->

</div>
