<div id="local-masthead" class="masthead grid_24 nomenu">

    <!-- local-title -->
    <!-- NB: for additional title style patterns, see http://frontier.ebi.ac.uk/web/style/patterns -->

    <div class="grid_12 alpha" id="local-title">
        <h1><a href="/pride/cluster/#/" title="Back to PRIDE Cluster homepage">PRIDE Cluster</a></h1>
    </div>

    <!-- /local-title -->

    <!-- local-search -->
    <!-- NB: if you do not have a local-search, delete the following div, and drop the class="grid_12 alpha" class from local-title above -->

    <div class="grid_12 omega">
        <!--<form id="local-search" name="local-search" action="/#" method="get">-->
        <form novalidate class="simple-form" id="local-search" name="local-search">
            <fieldset>
                <div class="left">
                    <label>
                        <input ng-model="searchTerm" ng-change="sequenceFilterChanged()" type="text" name="q" id="local-searchbox">
                    </label>
                    <!-- Include some example searchterms - keep them short and few! -->
                    <span class="examples">Examples:
                        <a href="/pride/cluster/#/list?q=elisn&page=1&size=10">ELISN</a>,
                        <a href="/pride/cluster/#/list?q=ehewlrk&page=1&size=10">EHEWLRK</a>,
                        <a href="/pride/cluster/#/list?q=TDRYTIHSQLEHLQSK&page=1&size=10">TDRYTIHSQLEHLQSK</a>
                    </span>
                </div>
                <div class="right">
                    <input ng-click="search()" type="submit" name="submit" value="Search" class="submit">
                    <!-- If your search is more complex than just a keyword search, you can link to an Advanced Search,
                         with whatever features you want available -->
                    <span class="adv"><a href="/pride/cluster/#/spectral" id="adv-search" title="Spectral">Spectral</a></span>
                </div>
            </fieldset>
        </form>
    </div>

    <!-- /local-search -->

    <!-- local-nav -->

    <nav>
        <ul class="grid_24" id="local-nav">
            <li class="first"><a href="#">Home</a></li>
            <li class="active"><a href="/pride/cluster/#">Peptide Search</a></li>
            <li><a href="/pride/cluster/#/libraries">Spectral Libraries</a></li>
            <li><a href="#">Help</a></li>
            <li class="last"><a href="#">About PRIDE Cluster</a></li>
            <!-- If you need to include functional (as opposed to purely navigational) links in your local menu,
                 add them here, and give them a class of "functional". Remember: you'll need a class of "last" for
                 whichever one will show up last...
                 For example: -->
            <li class="functional"><a href="#" class="icon icon-generic" data-icon="\">Feedback</a></li>
            <li class="functional"><a href="#" class="icon icon-functional" data-icon="r">Share</a></li>
        </ul>
    </nav>

    <!-- /local-nav -->

</div>
