<div id="cluster-filters">
    <!--Filter Controls-->
    <form novalidate class="simple-form">
        Sequence <input ng-model="filterSequence" type="text"/>
        <!--Sort by-->
        <!--<select ng-model="sortField">-->
        <!--<option value="id">Cluster ID</option>-->
        <!--<option value="numberOfSpectra">Number of Spectra</option>-->
        <!--</select>-->
        <button ng-click="listSubmit()">List</button>
        <button ng-click="chartSubmit()">Chart</button>
    </form>
</div>