<prc-local-header menu="home"></prc-local-header>

<div id="content" role="main" class="grid_24 clearfix view-animate-container">
    <section class="grid_24" id="cluster-intro">
        <span class="grid_8">
            <h2>About</h2>
            <h5>
                PRIDE Cluster contains all public identified experiments in the PRIDE repository
                and clusters them using an algorithm based on the normalized dot product (see publication).
                Thereby, similar spectra are grouped together solely based on their peaks.
            </h5>
        </span>
        <span class="grid_16">
            <h2>How to use PRIDE Cluster</h2>
            <h5>
                You can access PRIDE Cluster in two ways:
            </h5>
            <ul>
            <li><h5>
                Search for all clusters that contain spectra identified as a given peptide sequence
            </h5></li>
            <li><h5>
                Download cluster data in the form of Spectrum Libraries
            </h5></li>
            </ul>

        </span>
    </section>

    <section class="grid_24" id="sections">
        <span class="grid_8"><a href="/list">
            <h2>Peptide search</h2>
            <h5>By its peptide search, PRIDE Cluster can help confirm protein identifications.</h5>
            <h5>Just provide the peptide
            sequence your are investigating and browse the consensual evidence found across high-quality datasets in PRIDE.</h5>
        </a></span>

        <span class="grid_8"><a href="/libraries">
            <h2>Spectrum Libraries</h2>
            <h5>The cluster results can be downloaded in the form of libraries
            for its use off-line.</h5>
        </a></span>

        <span class="grid_8">
            <h2>PRIDE Cluster Stats</h2>
            <h5>The current Cluster database contains:</h5>
            <ul>
            <li><h5>3,822,526 clusters</h5></li>
            <li><h5>252 species</h5></li>
            <li><h5>23,758 experiments</h5></li>
            <li><h5>8,662,818 distinct peptides</h5></li>
            <li><h5>54,159,998 identified spectra</h5></li>
            <li><h5>16,557,497 (30.57%) spectra not in clusters</h5></li>
            </ul>
        </span>
    </section>
</div>
