<div id="cluster-paging">
    <!--Page Controls-->
    <form novalidate class="simple-form">
        <!--Sequence <input ng-model="sequenceFilter" ng-model-options="{ updateOn: 'blur', debounce: {'default': 1000, 'blur': 0} }" type="text"/>-->
        Current page <input ng-model="pageNumber" ng-change="pageNumberChanged()" type="text"/>
        <button ng-click="previousPage()">Prev</button>
        <button ng-click="nextPage()">Next</button>
        Page size <input ng-model="pageSize" ng-change="pageSizeChanged()" type="text"/>

    </form>
</div>