<div id="cluster-paging">
    <div>{{totalItems}}</div>
    {{pageNumber}}
    <pagination boundary-links="true"
                items-per-page="pageSize"
                total-items="totalItems"
                ng-model="pageNumber"
                ng-change="pageChanged()"
                class="prc-pagination"
                max-size="5"
                rotate="false"
                previous-text="Prev"
                next-text="Next"
                first-text="First"
                last-text="Last"></pagination>
</div>