<div class="grid_24">
    <!--Page Controls-->
    <span class="grid_8">
        <span class="grid_18">Current page</span>
        <input class="grid_4" ng-model="pageNumber" ng-change="pageNumberChanged()" type="text"/>
    </span>
    <span class="grid_8">
        <button ng-click="previousPage()">Prev</button>
        <button ng-click="nextPage()">Next</button>
    </span>
    <span class="grid_8">
        <span class="grid_16">Page size</span>
        <input class="grid_6" ng-model="pageSize" ng-change="pageSizeChanged()" type="text"/>
    </span>
</div>