<div class="grid_24">
    <!--Page Controls-->
    <span class="grid_16">
        <h5>
            <span class="grid_24">Showing {{(pageNumber-1) * pageSize + 1}} to {{ Math.min((pageNumber*pageSize),totalResults) }} of {{totalResults}} clusters
            <span ng-show="query"> for query '{{query}}'</span></span>
        </h5>
    </span>
    <span class="grid_8">
        <span class="grid_12">
            <h6>Page
            <a href="" ng-click="firstPage()">First</a>
            <a href="" ng-click="previousPage()"><</a>
            {{pageNumber}}
            <a href="" ng-click="nextPage()">></a>
            <a href="" ng-click="lastPage()">Last</a></h6>
        </span>
        <span class="grid_12">
            <h6>
            <span>Page size</span>
            <select ng-model="pageSize" ng-change="pageSizeChanged()">
                <option value="10">10</option>
                <option value="50">50</option>
                <option value="100">100</option>
                <option value="200">200</option>
            </select>
            </h6>
        </span>
    </span>
</div>