<prc-local-header menu="help"></prc-local-header>

<div id="content" class="grid_24 clearfix">

    <!-- If you require a breadcrumb trail, its root should be your service.
You don't need a breadcrumb trail on the homepage of your service... -->
    <nav id="breadcrumb">
        <p>
            <a href="#/">PRIDE Cluster</a> &gt;<a href="#/">Help</a> &gt;
            Understand Cluster
        </p>
    </nav>

    <div role="main" class="grid_18">
        <h2 id="rest-api" class="icon icon-generic" data-icon="?">
            Understand Cluster
        </h2>

        <div class="help-content">
            <p>
                For each cluster, we offer a detailed summary page where you can view the key statistics and quliaty metrics of a cluster.
            </p>
        </div>

        <h3>Key cluster statistics</h3>
        <div class="help-content">
            <img src="./img/cluster_stats.png">
            <p>
                At the top of the cluster details page, you will see the consensus peptide of the cluster and cluster related statistics. The key statistics include:

                <ul>
                    <li><strong>#Spectra</strong>: Number of spectra identifing the consensus peptide / Total number of spectra in the cluster. </li>
                    <li><strong>#Projects</strong>: Number of projects identifing the consensus peptide / Total number of projects in the cluster.</li>
                    <li><strong>#Species</strong>: Number of species assigned to the consensus peptide / Total number of species in the cluster.</li>
                </ul>
            </p>
        </div>

        <h3>Species chart</h3>
        <div class="help-content">
            <img src="./img/species_stats.png">
            <p>
                This chart shows the percentage of species within a cluster. It is important to note that the numbers shown are the number of PSMs.
                These numbers are likely to be larger than the number of spectra within a cluster.
            </p>
        </div>

        <h3>Modification chart</h3>
        <div class="help-content">
            <img src="./img/mod_stats.png">
            <p>
                This chart shows the percentage of modifications within a cluster. It is important to note that the numbers shown are the number of PSMs.
                These numbers are likely to be larger than the number of spectra within a cluster.
            </p>
        </div>

        <h3>Unique peptides</h3>
        <div class="help-content">
            <img src="./img/unique_peptides.png">
            <p>
                This table show the number of unique peptide seqences with their modifiations. We also display the following metrics:
                <ul>
                    <li><strong>#PSM</strong>: the number of PSMs identify the peptide.</li>
                    <li><strong>#Species</strong>: the number of species identify the peptide.</li>
                    <li><strong>#Projects</strong>: the number of original projects identify the peptide.</li>
                </ul>
            </p>
        </div>

        <h3>Original projects</h3>
        <div class="help-content">
            <img src="./img/original_projects.png">
            <p>
                The details of the original projects from the PRIDE Archive within the cluster. You can flip thought the
                projects using the arrows on either side of the panel.
            </p>
        </div>

        <h3>Precursor m/z chart</h3>
        <div class="help-content">
            <img src="./img/precursor_boxplot.png">
            <p>
                This boxplot shows the delta m/z distribution for the PSMs identify the consensus peptide and the whole of the cluster.
            </p>

            <p>
                Delta m/z is the different between the experimental m/z and the theoritical m/z. As a rule of thumb, the smaller of delta m/z the better.
            </p>
        </div>

        <h3>Spectrum similarity chart</h3>
        <div class="help-content">
            <img src="./img/similarity_boxplot.png">
            <p>
                This boxplot shows the spectrum similarity distribution between the spectra within the cluster and its consensus spectrum.
            </p>

            <p>
                For the similarity value, the higher the similarity value the better. A value of 1 means highly similary and almost identical.
                A value of 0 means not similar at all.
            </p>
        </div>

        <h3>Consensus spectrum</h3>
        <div class="help-content">
            <img src="./img/consensus_spectrum.png">
            <p>
               The peak list shows the peaks of the consensus spectrum of the cluster.
            </p>
        </div>
    </div>

    <div class="grid_6 clearfix" role="complementary">
        <h3 class="icon icon-functional" data-icon="M">Topics</h3>

        <div class="help-content">
            <ul>
                <li><a href="#/help/faq">Frequently Asked Questions</a></li>
                <li><a href="#/help/pipeline">PRIDE Cluster pipeline</a></li>
                <li><a href="#/help/peptide">Search peptide</a></li>
                <li><a href="#/help/cluster">Understand Cluster</a></li>
                <li><a href="#/api">Web API documentation</a></li>
                <li><a href="#/libraries">Spectrum libraries</a></li>
            </ul>
        </div>
    </div>
</div>
