<prc-local-header menu="help"></prc-local-header>

<div id="content" class="grid_24 clearfix">

    <!-- If you require a breadcrumb trail, its root should be your service.
You don't need a breadcrumb trail on the homepage of your service... -->
    <nav id="breadcrumb">
        <p>
            <a href="#/">PRIDE Cluster</a> &gt;<a href="#/">Help</a> &gt;
            FAQ
        </p>
    </nav>

    <div role="main" class="grid_18">
        <h2 id="rest-api" class="icon icon-generic" data-icon="i">
            Frequently Asked Questions
        </h2>

        <h3>What is a spectrum cluster? </h3>
        <div class="help-content">
            <p>
                A spectrum cluster is a group of Mass Spec spectra that share the same characteristics,
                namely the shapes of their peaks. The spectra that are similar are grouped together in the PRIDE Cluster pipeline.
            </p>
        </div>

        <h3>Where do the spectrum come from? </h3>
        <div class="help-content">
            <p>
                The original spectrum comes from <a href="//www.ebi.ac.uk/pride/archive">PRIDE Archive</a>, which is a submission based data
                repository.
            </p>

            <p>
                Due the diversity of PRIDE Archive submissions, we have spectrum from a large number of species and also covers many
                post translational modifications.
            </p>

            <p>
                In order to keep the data submitted to us save and secure, we only take the public experiments into account for running
                the PRIDE Cluster production pipeline.
            </p>
        </div>

        <h3>What can I learn from a cluster? </h3>
        <div class="help-content">
            <p>
                While grouping spectrum into clusters, we also take into account their original metadata, such as: peptide, modification and species.
            </p>

            <p>
                For high quality cluster, we try to infer using statistical techniques the following information:
                <ul>
                    <li><strong>Consensus spectrum</strong></li>
                    <li><strong>Consensus peptide</strong></li>
                    <li><strong>Species</strong></li>
                    <li><strong>Modifications</strong></li>
                </ul>
            </p>

            <p>
                For example, if there is a peptide of your interest, you can use our peptide search to identify whether this peptide has been seen before,
                in which species it likely to be seen, what are the pontential modifications.
            </p>
        </div>

        <h3>What do the numbers mean for each cluster? </h3>
        <div class="help-content">
            <p>
                There are three key numbers that can help you to interrpret the cluster:
                <ul>
                    <li>
                        <strong>Max ratio</strong>: The ratio between the largest number of spectra identify the same peptide and the total number of spectra within
                        a cluster.
                    </li>
                    <li>
                        <strong>Number of spectra</strong>: The number of spectra within a cluster.
                    </li>
                    <li>
                        <strong>Number of projects</strong>: The number of original projects from PRIDE Archive.
                    </li>
                </ul>
            </p>

        </div>

        <h3>What is a high quality cluster? </h3>
        <div class="help-content">
            <p>
                We define high quality clusters using the following criteria:
                <ul>
                    <li>
                        <strong>Max ratio >= 0.7</strong>: The ratio between the largest number of spectra identify the same peptide and the total number of spectra within
                        a cluster. The ratio must be greater or equal to 0.7.
                    </li>
                    <li>
                        <strong>Number of spectra >= 10</strong>: The number of spectra within a cluster must be greater or equal to 10.
                    </li>
                    <li>
                        <strong>Number of projects >= 2</strong>: The number of original projects from PRIDE Archive must be greater or equal to 2.
                    </li>
                </ul>
            </p>

            <p>
                These criterias are explained in details in the original <a href="http://www.ncbi.nlm.nih.gov/pmc/articles/PMC3667236/">publication</a>
            </p>
        </div>

        <h3>What is a consensus spectrum? </h3>
        <div class="help-content">
            <p>
                A derived spectrum from all the spectra within a cluster, this spectrum is theoretically better quality and representative of the identification.
            </p>
        </div>

        <h3>What is a consensus peptide? </h3>
        <div class="help-content">
            <p>
                If the majority of the spectra within a cluster agrees on a particular peptide identification, we then infer that this peptide is the likely peptide
                identification given the existing data.
            </p>
        </div>

        <h3>How often is PRIDE Cluster released? </h3>
        <div class="help-content">
            <p>
                We are planning to run clustering of the new data every three months, the release will follow immediately after we got the clustering results.
            </p>
        </div>

    </div>

    <div class="grid_6 clearfix" role="complementary">
        <h3 class="icon icon-functional" data-icon="M">Topics</h3>

        <div class="help-content">
            <ul>
                <li><a href="#/help/faq">Frequently Asked Questions</a></li>
                <li><a href="#/help/pipeline">PRIDE Cluster pipeline</a></li>
                <li><a href="#/help/peptide">Search peptide</a></li>
                <li><a href="#/help/cluster">Understand Cluster</a></li>
                <li><a href="#/api">Web API documentation</a></li>
                <li><a href="#/libraries">Spectrum libraries</a></li>
            </ul>
        </div>
    </div>
</div>
