<prc-local-header ></prc-local-header>

<div id="content" class="grid_24 clearfix">

    <!-- If you require a breadcrumb trail, its root should be your service.
You don't need a breadcrumb trail on the homepage of your service... -->
    <nav id="breadcrumb">
        <p>
            <a href="#/">PRIDE Cluster</a> &gt;<a href="#/">Help</a> &gt;
            Search peptide
        </p>
    </nav>

    <div role="main" class="grid_18">
        <h2 id="rest-api" class="icon icon-generic" data-icon="i">
            Search Peptide
        </h2>

        <h3>How to search?</h3>
        <div class="help-content">
            <img src="./img/search_peptide.png" alt="Search peptide sequence">

            <p>
                The search box at the top right corner of the page is the main interface for searching peptide sequences. (see figure below)
            </p>

            <p>
                Simply type or copy-and-paste the sequence of your interests, then click on the search button.
            </p>

        </div>

        <h3>Interpret the results</h3>
        <div class="help-content">
            <p>
               The results returned by the search are a summary of a cluster. At the moment, we only show you the high quality clusters.
                The summary include the following information:

                <ul>
                    <li><strong>Peptide sequence</strong>: the consensus peptide sequence for each cluster.</li>
                    <li><strong>Precursor m/z</strong>: the consensus precursor m/z for each cluster.</li>
                    <li><strong>Precursor charge</strong>: the consensus precursor charge for each cluster.</li>
                    <li><strong>#Spectra</strong>: the number of spectra within a cluster.</li>
                    <li><strong>#Projects</strong>: the number of original projects within a cluster.</li>
                    <li><strong>#Species</strong>: the number of species within a cluster.</li>
                    <li><strong>Max Ratio</strong>: The ratio between the largest number of spectra identify the same peptide and the total number of spectra within
                        a cluster.</li>
                </ul>

            </p>
        </div>

        <h3>Filtering</h3>
        <div class="help-content">
            <img src="./img/species_filter.png">
            <p>
                At the moment, we are offering two kinds of filtering to restrict the number of results returned.

                <ul>
                    <li>Filter by species: you can filter the result by the species of your interests.</li>
                    <li>Filter by modifications: you can filter the result by the modifications of your interests.</li>
                </ul>
            </p>

            <p>
                You can also type into text box above each filter to search for a particular species or modification.
            </p>

        </div>
    </div>

    <div class="grid_6 clearfix" role="complementary">
        <h3 class="icon icon-functional" data-icon="M">Topics</h3>

        <div class="help-content">
            <ul>
                <li><a href="#/help/faq">Frequently Asked Questions</a></li>
                <li><a href="#/help/pipeline">PRIDE Cluster pipeline</a></li>
                <li><a href="#/help/peptide">Search peptide</a></li>
                <li><a href="#/help/cluster">Understand Cluster</a></li>
                <li><a href="#/api">Web API documentation</a></li>
                <li><a href="#/libraries">Spectrum libraries</a></li>
            </ul>
        </div>
    </div>
</div>
