<prc-local-header></prc-local-header>

<div id="content" class="grid_24 clearfix">

    <!-- If you require a breadcrumb trail, its root should be your service.
You don't need a breadcrumb trail on the homepage of your service... -->
    <nav id="breadcrumb">
        <p>
            <a href="#/">PRIDE Cluster</a> &gt;<a href="#/">Help</a> &gt;
            Pipeline
        </p>
    </nav>

    <div role="main" class="grid_18">
        <h2 id="rest-api" class="icon icon-generic" data-icon="i">
            PRIDE Cluster pipeline
        </h2>

        <h3>What is the PRIDE Cluster pipeline? </h3>
        <div class="help-content">
            <p>
                The PRIDE Cluster pipeline is responsible for extracting spectra and their related metadata from PRIDE Archive, and then feed these information into our
                clustering pipeline, the clustering pipeline is going to group similar spectra into the clusters.
            </p>
        </div>

        <h3>What are main steps of the pipeline? </h3>
        <div class="help-content">
            <p>
                The pipeline consist of the following steps (illustrated below):
                <ul>
                    <li>Filter spectra from PRIDE Archive, remove bad quality spectra, and then annotation each spectra with metadata, such as species, modifications and peptides.</li>
                    <li>Move the filtered spectra in the format of MGF files into the Hadoop Cluster.</li>
                    <li>Using Map-Reduce to group the spectra into clusters.</li>
                    <li>Move the results out of the Hadoop cluster.</li>
                    <li>Quality check of the results.</li>
                    <li>Load the cluster results into the production database for the new release.</li>
                    <li>Generate spectrum libraries using the clustering results.</li>
                </ul>

                <img src="./img/pride-cluster-pipeline.png" alt="PRIDE Cluster pipeline">
            </p>
        </div>

        <h3>Why Hadoop?</h3>
        <div class="help-content">
            <p>
                The original PRIDE Cluster is based on Load Sharing Facility (LSF), this pipeline has encountered scalability issues due the fast data increase from PRIDE Archive.
            </p>

            <p>
                We set to improve the scalability and performance of the pipeline, Hadoop Map-Reduce is natural fit as it provides a mass parallel computing framework.
            </p>
        </div>
    </div>

    <div class="grid_6 clearfix" role="complementary">
        <h3 class="icon icon-functional" data-icon="M">Topics</h3>

        <div class="help-content">
            <ul>
                <li><a href="#/help/faq">Frequently Asked Questions</a></li>
                <li><a href="#/help/pipeline">PRIDE Cluster pipeline</a></li>
                <li><a href="#/help/peptide">Search peptide</a></li>
                <li><a href="#/help/cluster">Understand Cluster</a></li>
                <li><a href="#/api">Web API documentation</a></li>
                <li><a href="#/libraries">Spectrum libraries</a></li>
            </ul>
        </div>
    </div>
</div>
