<div class="grid_24 clearfix spinning-wheel" ng-if="peptideCountData === undefined">
    <span us-spinner="{radius:20, width:8, length: 20}"></span>
</div>

<div ng-if="peptideCountData !== undefined">
    <nvd3-pie-chart
        data="peptideCountData"
        id="peptideCountChart"
        width="600"
        height="400"
        margin="{left:0,top:0,bottom:0,right:0}"
        x="xFunction()"
        y="yFunction()"
        showLegend="true"
        tooltips="true"
        tooltipcontent="toolTipContentFunction()"
        showLabels="true"
        labelType="value"
        donut="true">
        <svg></svg>
    </nvd3-pie-chart>
</div>