
<prc-local-header></prc-local-header>

<div id="content" role="main" class="grid_24 clearfix view-animate-container">
    <!-- If you require a breadcrumb trail, its root should be your service.
    You don't need a breadcrumb trail on the homepage of your service... -->
    <nav id="breadcrumb">
        <p>
            <a href="/pride/cluster/#">PRIDE Cluster</a> &gt;
            Detail
        </p>
    </nav>
    <section class="grid_24" id="cluster-details">
        <div class="grid_24 push_1">
            <h2>Cluster {{clusterId}}</h2>
        </div>


        <div class="grid_24 push_1">
            <div class="grid_6">
                <prc-cluster-detail clusterid="clusterId"></prc-cluster-detail>
            </div>
            <div class="grid_6 push_1">
                <h4>Species Distribution</h4>
                <prc-species-chart sourceid="clusterId"></prc-species-chart>
            </div>
            <div class="grid_6">
                <h4>Consensus Spectrum</h4>
                <prc-spectrum-viewer viewerid="viewerId" sourceid="clusterId" isconsensus="true"></prc-spectrum-viewer>
            </div>
        </div>


        <div class="grid_24 push_1">
            <div class="grid_6 tiled-summary">
                <h4>Related Publications</h4>
                <div class="grid_24">
                    <h6>Authors</h6>
                    <p>Publication Title</p>
                    <p>In Journal A. Date X</p>
                </div>
                <div class="grid_24">
                    <h6>Authors</h6>
                    <p>Publication Title</p>
                    <p>In Journal A. Date X</p>
                </div>
                <div class="grid_24">
                    <h6>Authors</h6>
                    <p>Publication Title</p>
                    <p>In Journal A. Date X</p>
                </div>
                <div class="grid_24">
                    <h6>Authors</h6>
                    <p>Publication Title</p>
                    <p>In Journal A. Date X</p>
                </div>
            </div>
            <div class="grid_14 push_1">
                <h4>Clustered PSM</h4>
                 <prc-psm-list clusterid="clusterId"></prc-psm-list>
            </div>
        </div>
    </section>
</div>