
<prc-local-header menu="search"></prc-local-header>

<div id="content" role="main" class="grid_24 clearfix view-animate-container">
    <!-- If you require a breadcrumb trail, its root should be your service.
    You don't need a breadcrumb trail on the homepage of your service... -->
    <div class="grid_24">
        <nav id="breadcrumb" class="grid_16">
            <p>
                <a href="http://www.ebi.ac.uk/pride">PRIDE</a> &gt;
                <a href="#/">PRIDE Cluster</a> &gt;
                Cluster Details
            </p>
        </nav>
    </div>
    <div class="grid_22 cluster-detail-container push_1">

        <!--First section: primary peptide and modifications-->
        <div class="grid_24">
            <div class="grid_24 cluster-detail-panel">
                <h4>Consensus Peptide</h4>
                <span class="grid_22">
                    <h2>
                        <prc-peptide-sequence-viewer
                                sequence="cluster.sequence"
                                modifications="mods"
                                charge="cluster.averagePrecursorCharge"
                                mz="cluster.averagePrecursorMz | number:3">
                        </prc-peptide-sequence-viewer>
                    </h2>
                </span>
                <prc-cluster-key class="grid_20 alpha" cluster="cluster"></prc-cluster-key>
            </div>

        </div>

        <!--Second section: key info-->
        <!--<div class="grid_24">-->
            <!--<div class="grid_24 cluster-detail-panel">-->
                <!--<h4>Summary</h4>-->
                <!--<prc-cluster-key cluster="cluster"></prc-cluster-key>-->
            <!--</div>-->

        <!--</div>-->

        <!--Second section Projects & Publications and PTMs distribution-->
        <div class="grid_24">
            <div class="grid_11 cluster-detail-panel">
                <h4>Species <span ng-show="totalNumberOfSpecies">({{totalNumberOfSpecies}})</span></h4>
                <prc-species-chart source-id="clusterId" total-number-of-species="totalNumberOfSpecies"></prc-species-chart>
            </div>
            <div class="grid_11 push_2 cluster-detail-panel">
                <h4>Modifications <span ng-show="totalNumberOfModifications">({{totalNumberOfModifications}})</span></h4>
                <prc-modifications-chart source-id="clusterId" total-number-of-modifications="totalNumberOfModifications"></prc-modifications-chart>
            </div>
        </div>
        <div class="grid_24">
            <div class="grid_11 cluster-detail-panel">
                <h4>Peptide Sequences<span ng-show="totalNumberOfPeptides">({{totalNumberOfPeptides}})</span></h4>
                <prc-peptide-viewer cluster-id="clusterId" total-number-of-peptides="totalNumberOfPeptides"></prc-peptide-viewer>
            </div>
            <div class="grid_11 push_2 cluster-detail-panel">
                <h4>Original Projects <span ng-show="totalNumberOfProjects">({{totalNumberOfProjects}})</span></h4>
                <prc-project-viewer cluster-id="clusterId" total-number-of-projects="totalNumberOfProjects"></prc-project-viewer>
            </div>
        </div>

        <div class="grid_24">
            <div class="grid_24 cluster-detail-panel">
                <h4>Consensus Spectrum</h4>
                <prc-spectrum-viewer
                        source-id="clusterId"
                        sequence="cluster.sequence"
                        modifications="mods"
                        charge="cluster.averagePrecursorCharge"
                        mz="cluster.averagePrecursorMz | number:3">
                </prc-spectrum-viewer>
            </div>
        </div>

        <!--Thirds section, confidence charts and consensus spectrum-->
        <div class="grid_24">
            <div class="grid_11 cluster-detail-panel">
                <h4>Precursor M/Z</h4>
                <prc-delta-mz-chart source-id="clusterId"></prc-delta-mz-chart>
            </div>
            <div class="grid_11 push_2 cluster-detail-panel">
                <h4>Spectrum Similarity</h4>
                <prc-similarity-chart source-id="clusterId"></prc-similarity-chart>
            </div>
        </div>



    </div>
</div>
