<div class="grid_24 clearfix spinning-wheel" ng-show="peptides.length === 0">
    <span us-spinner="{radius:20, width:8, length: 20}"></span>
</div>

<div ng-init="getPeptides()" ng-show="peptides.length !== 0">
    <table ng-table="tableParams" template-pagination="custom/pager" class="table table_border">
        <tr ng-repeat="peptide in peptides_slice">
            <td data-title="'Peptide'">
                <prc-peptide-sequence-viewer
                        sequence="peptide.sequence"
                        modifications="peptide.mods">
                </prc-peptide-sequence-viewer>
                <span ng-show="isConsensusPeptide(peptide)" class="icon icon-functional" data-icon="/" tooltip="Consensus peptide" tooltip-placement="bottom"></span>
                <!--(<a ng-href="http://www.uniprot.org/blast/?blastQuery={{peptide.sequence}}" target="_blank">BLAST</a>)-->
                <!--{{peptide.sequence}}-->
            </td>
            <td data-title="'#PSM'" sortable="'numberOfPSMs'">
                <a href ng-click="showPSMs(peptide.sequence, peptide.modAsString)" tooltip="Show PSMs that have this sequence and modifications" tooltip-placement="bottom">{{peptide.numberOfPSMs}}</a> ({{100 * peptide.psmPercentage | number:1}}%)
            </td>
            <td data-title="'#Species'" sortable="'species.length'">
                {{peptide.species.length}}
            </td>
            <td data-title="'#Projects'" sortable="'projectAccessions.length'">
                <a href ng-click="showProjects(peptide.sequence, peptide.modAsString)" tooltip="Show projects that contain this peptide" tooltip-placement="bottom">{{peptide.projectAccessions.length}}</a>
            </td>
            <td data-title="'BLAST'">
                <a ng-href="http://www.uniprot.org/blast/?blastQuery={{peptide.sequence}}" target="_blank"><img src="./img/uniprot.png"></a>
            </td>
        </tr>
    </table>

    <script type="text/ng-template" id="custom/pager">
        <ul class="pager ng-cloak">
            <li ng-repeat="page in pages"
                ng-class="{'disabled': !page.active, 'previous': page.type == 'prev', 'next': page.type == 'next'}"
                ng-show="page.type == 'prev' || page.type == 'next'" ng-switch="page.type">
                <a ng-switch-when="prev" ng-click="params.page(page.number)" href="">&laquo; Previous</a>
                <a ng-switch-when="next" ng-click="params.page(page.number)" href="">Next &raquo;</a>
            </li>
        </ul>
    </script>
</div>