<table ng-table="tableParams" class="table">
    <tr ng-repeat="peptide in peptides_slice">
        <td data-title="'Peptide'">
            <prc-peptide-sequence-viewer
                    sequence="peptide.sequence"
                    modifications="peptide.mods"
                    charge="cluster.averagePrecursorCharge"
                    mz="cluster.averagePrecursorMz | number:2">
            </prc-peptide-sequence-viewer>
            <!--{{peptide.sequence}}-->
        </td>
        <td data-title="'# PSM'">
            {{peptide.numberOfPSMs}}
        </td>
        <td data-title="'# Species'">
            {{peptide.species.length}}
        </td>
        <td data-title="'# Projects'">
            {{peptide.projectAccessions.length}}
        </td>
    </tr>
</table>
