
<section class="grid_23 push_1">
    <h2>Cluster {{clusterId}}</h2>
</section>
<section class="grid_6 push_1">
    <prc-cluster-detail clusterid="clusterId"></prc-cluster-detail>
</section>

<section class="grid_16 push_3">
    <prc-species-chart sourceid="clusterId"></prc-species-chart>
</section>

<section class="grid_6 push_1">
    <h4>Related Publications</h4>
    <p>Related Publication 1</p>
    <p>Related Publication 2</p>
</section>

<section class="grid_16 push_3">
    <prc-spectrum-viewer viewerid="viewerId" sourceid="clusterId" isconsensus="true"></prc-spectrum-viewer>
</section>
