
<section class="grid_24 push_1">
    <h2>Cluster {{clusterId}}</h2>
</section>


<section class="grid_24 push_1">
    <section class="grid_6">
        <prc-cluster-detail clusterid="clusterId"></prc-cluster-detail>
    </section>
    <section class="grid_6 push_1">
        <h4>Species Distribution</h4>
        <prc-species-chart sourceid="clusterId"></prc-species-chart>
    </section>
    <section class="grid_6">
        <h4>Consensus Spectrum</h4>
        <prc-spectrum-viewer viewerid="viewerId" sourceid="clusterId" isconsensus="true"></prc-spectrum-viewer>
    </section>
</section>


<section class="grid_24 push_1">
    <section class="grid_6">
        <h4>Clustered PSM</h4>
        <prc-psm-list clusterid="clusterId"></prc-psm-list>
    </section>
    <section class="grid_14 push_1">
        <h4>Related Publications</h4>
        <p>Authors of publication. Publication Title 1. In Journal A. Date X</p>
        <p>Authors of publication. Publication Title 1. In Journal A. Date X</p>
        <p>Authors of publication. Publication Title 1. In Journal A. Date X</p>
        <p>Authors of publication. Publication Title 1. In Journal A. Date X</p>
    </section>
</section>