<div class="grid_24">
    <div class="grid_4">
        <h6>Precursor</h6>
        <p>{{cluster.averagePrecursorMz | number:3}} / {{cluster.averagePrecursorCharge | number:2}}</p>
    </div>
    <div class="grid_4">
        <h6># Species</h6>
        <p>{{cluster.numberOfSpecies}} / {{cluster.totalNumberOfSpecies}}</p>
    </div>
    <div class="grid_4">
        <h6># Modifications</h6>
        <p>{{cluster.numberOfPTMs}} / {{cluster.totalNumberOfPTMs}}</p>
    </div>
    <div class="grid_4">
        <h6># Spectra</h6>
        <p>{{cluster.numberOfSpectra}} / {{cluster.totalNumberOfSpectra}}</p>
    </div>
    <div class="grid_4">
        <h6># Projects</h6>
        <p>{{cluster.numberOfProjects}} / {{cluster.totalNumberOfProjects}}</p>
    </div>
    <div class="grid_4">
        <h6>Peptide Ratio</h6>
        <p>{{cluster.maxRatio}}</p>
        <!--<nvd3-bullet-chart-->
                <!--data="maxRatioData"-->
                <!--id="maxRatioChart"-->
                <!--margin="{left:20,top:5,bottom:15,right:10}"-->
                <!--width="475"-->
                <!--height="35"-->
                <!--interactive="true"-->
                <!--tooltips="true"-->
                <!--tooltipcontent="toolTipContentFunction()">-->
            <!--<svg></svg>-->
        <!--</nvd3-bullet-chart>-->
    </div>
</div>

