<div class="grid_24">
    <div class="grid_12">
        <h6>Precursor M/Z</h6>
        <p>{{cluster.averagePrecursorMz | number:3}}</p>
    </div>
    <div class="grid_12">
        <h6>Precursor Charge</h6>
        <p>{{cluster.averagePrecursorCharge | number:2}}</p>
    </div>
</div>

<div class="grid_24">
    <div class="grid_12">
        <h6>Number of Species</h6>
        <p>{{cluster.numberOfSpecies}} / {{cluster.totalNumberOfSpecies}}</p>
    </div>
    <div class="grid_12">
        <h6>Number of Modifications</h6>
        <p>{{cluster.numberOfPTMs}} / {{cluster.totalNumberOfPTMs}}</p>
    </div>
</div>

<div class="grid_24">
    <div class="grid_12">
        <h6>Number of Spectra</h6>
        <p>{{cluster.numberOfSpectra}} / {{cluster.totalNumberOfSpectra}}</p>
    </div>
    <div class="grid_12">
        <h6>Number of Projects</h6>
        <p>{{cluster.numberOfProjects}} / {{cluster.totalNumberOfProjects}}</p>
    </div>
</div>

<div class="grid_24">
    <div class="grid_24">
        <h6>Max ratio</h6>
        <!--<p>{{cluster.maxRatio}}</p>-->
        <nvd3-bullet-chart
                data="maxRatioData"
                id="maxRatioChart"
                margin="{left:20,top:5,bottom:15,right:10}"
                width="475"
                height="35"
                interactive="true"
                tooltips="true"
                tooltipcontent="toolTipContentFunction()">
            <svg></svg>
        </nvd3-bullet-chart>
    </div>
</div>

