<div class="container-fluid">
    <div class="omega grid_24 push_6" id="paging-controls">
        Page <span ng-repeat="p in pageNumbers track by $index">{{ $index + 1 }} </span>
    </div>
    <div>
        <div class="grid_3 push_1" id="search-controls">
            <prc-cluster-list-filters sequence="queryTerm"></prc-cluster-list-filters>
        </div>
        <section class="grid_18 push_2" id="search-results">
            <!-- Body content uses components/clusterList-directive -->
            <prc-cluster-list query="queryTerm" page="pageNumber" size="pageSize"></prc-cluster-list>
        </section>
    </div>
</div>