<prc-local-header menu="home"></prc-local-header>

<div id="all-content" class="grid_24">

    <div role="main" class="grid_20">

    </div>

    <div class="grid_4 clearfix" role="complementary">
        <h3>API topics</h3>

        <nav class="panel hidden-print" >
            <ul class="nav">
                <li><a href="{% url 'help' %}">Frequently Asked Questions</a></li>
                <li><a href="{% url 'help-genomic-mapping' %}">Genomic mapping</a></li>
                <li><a href="{% url 'help-metadata-search' %}">Metadata search</a></li>
                <li><a href="{% url 'api-docs' %}">API documentation</a></li>
                <li><a href="{% url 'help-browser-compatibility' %}">Browser compatibility</a></li>
            </ul>
        </nav>
    </div>
</div>
