<prc-local-header></prc-local-header>

<div id="content" role="main" class="grid_24 clearfix view-animate-container">
    <!-- If you require a breadcrumb trail, its root should be your service.
    You don't need a breadcrumb trail on the homepage of your service... -->
    <div class="grid_24">
        <nav id="breadcrumb" class="grid_16">
            <p>
                <a href="#">PRIDE Cluster</a> &gt;
                Spectral Libraries
            </p>
        </nav>
    </div>

    <div class="grid_24">
        <h2>Spectral Libraries</h2>

        <table ng-controller="SpectralLibrariesViewCtrl">
            <tr ng-repeat="x in names">
                <td>{{ x.name }}</td>
                <td>{{ x.country }}</td>
            </tr>
        </table>

    </div>
</div>
