<prc-local-header></prc-local-header>

<div id="content" role="main" class="grid_24 clearfix view-animate-container">
    <!-- If you require a breadcrumb trail, its root should be your service.
    You don't need a breadcrumb trail on the homepage of your service... -->
    <div class="grid_24">
        <nav id="breadcrumb" class="grid_16">
            <p>
                <a href="#">PRIDE Cluster</a> &gt;
                Spectral Libraries
            </p>
        </nav>
    </div>

    <div class="grid_24" ng-controller="SpectralLibrariesViewCtrl">
        <h2>Spectral Libraries</h2>

        <section class="animate-repeat" ng-repeat="spectralLibrary in spectralLibraries">
            <div class="grid_6 spectral-library">
                <div class="grid_24">
                    <div class="grid_18 alpha">
                        <h4>{{ spectralLibrary.species }}</h4>
                    </div>
                    <div class="grid_6 omega">
                        <img class="species-img" src="/img/{{ spectralLibrary.taxId }}.svg" title="Download">
                    </div>
                </div>
                <div class="grid_24">
                    <h5>Number of spectra: {{ spectralLibrary.spectraNum }}</h5>
                </div>
                <div class="grid_24">
                    <p><a class="button" href="{{spectralLibrary.url}}">Download</a></p>
                </div>
            </div>

        </section>
    </div>
</div>
