<div ng-init="getProjects()">
    <table ng-table="tableParams" template-pagination="custom/pager" class="table table_border">
        <tr ng-repeat="project in projects_slice">
            <td data-title="'Project'" sortable="'accession'">
                <a ng-href="http://www.ebi.ac.uk/pride/archive/projects/{{project.accession}}" target="_blank">{{project.accession}}</a>
            </td>
            <td data-title="'#PSM'" sortable="'numberOfPSMs'">
                {{project.numberOfPSMs}} ({{100 * project.psmPercentage | number:1}}%)
            </td>
            <td data-title="'Species'" sortable="'species'">
                {{project.species}}
            </td>
            <td data-title="'Tissues'" sortable="'tissues'">
                {{project.tissues}}
            </td>
            <td data-title="'Instruments'" sortable="'instruments'">
                {{project.instruments}}
            </td>
        </tr>
    </table>

    <script type="text/ng-template" id="custom/pager">
        <ul class="pager ng-cloak">
            <li ng-repeat="page in pages"
                ng-class="{'disabled': !page.active, 'previous': page.type == 'prev', 'next': page.type == 'next'}"
                ng-show="page.type == 'prev' || page.type == 'next'" ng-switch="page.type">
                <a ng-switch-when="prev" ng-click="params.page(page.number)" href="">&laquo; Previous</a>
                <a ng-switch-when="next" ng-click="params.page(page.number)" href="">Next &raquo;</a>
            </li>
        </ul>
    </script>
</div>