/* Redefine style of rn-carousel indicators */
div.rn-carousel-indicator span {
    cursor: pointer;
    color: #333333; }
div.rn-carousel-indicator span.active {
    color: #4682b4; }


div.rn-carousel-indicator {
    margin-left: auto;
    margin-right: auto;
    width: 30%;
}

ul[rn-carousel] {
    height: 250px;
    min-height: 100%;
}
