<h5 ng-if="projects==null">Loading project information...</h5>
<ul rn-carousel rn-carousel-controls rn-carousel-buffered rn-carousel-index="projectIndex" class="image">
    <li ng-repeat="project in projects" class="grid_24">
        <div class=grid_24">
            <div class="grid_8">
                <h6>Accession</h6>
            </div>
            <div class="grid_16">
                <a href="http://www.ebi.ac.uk/pride/archive/projects/{{project.accession}}">
                <p>{{project.accession}}</p></a>
            </div>
        </div>
        <div class=grid_24">
            <div class="grid_8">
                <h6>Title</h6>
            </div>
            <div class="grid_16">
                <p ng-show="project.title.length>64" class="grid_24">{{project.title | limitTo: 64 }}...</p>
                <p ng-show="project.title.length<=64" class="grid_24">{{project.title}}</p>
            </div>
        </div>
        <div class=grid_24">
            <div class="grid_8">
                <h6>Species</h6>
            </div>
            <div class="grid_16">
                <p><span ng-repeat="species in project.species">{{species}} </span></p>
            </div>
        </div>
        <div class=grid_24">
            <div class="grid_8">
                <h6>Instruments</h6>
            </div>
            <div class="grid_16">
                <p><span ng-repeat="instrument in project.instruments">{{instrument}}</span></p>
            </div>
        </div>
        <div class=grid_24">
            <div class="grid_8">
                <h6>Description</h6>
            </div>
            <div class="grid_16">
                <p ng-show="project.description.length>128" class="grid_24">{{project.description | limitTo: 128 }}...</p>
                <p ng-show="project.description.length<=128" class="grid_24">{{project.description}}</p>
            </div>
        </div>

    </li>
</ul>
<div rn-carousel-indicators ng-if="projects.length > 1" slides="projects" rn-carousel-index="projectIndex"></div>