<ul class="clusters">
    <div class="animate-repeat" ng-repeat="cluster in clusters | filter:query | orderBy:sortField:reverse" >
        <a href="#/cluster/{{cluster.id}}">
            <h3>Cluster {{cluster.id}}</h3>
        </a>
        <p>Includes {{cluster.numberOfSpectra}} spectra,
            with average M/Z of {{cluster.averagePrecursorMz}} and
            average precursor charge of {{cluster.averagePrecursorCharge}}</p>
        <p>Max ratio is {{cluster.maxRatio}}</p>
    </div>
</ul>