
<form class="grid_6">
    <fieldset>
        <span class="grid_23">
            Precursor MZ
        </span>

        <input class="grid_23" type="text" ng-model="spectrum.precursorMz" required /><br />

        <span class="grid_23">
            Peaks
        </span>

        <textarea class="grid_23" style="min-height:200px" ng-model="spectrum.peaks" required ></textarea>

        <span class="grid_23">
            <input ng-click="search(spectrum)" type="submit" name="submit" value="Search" class="submit">
        </span>
    </fieldset>
</form>
<span ng-show="clusterId" class="grid_16">
    <span class="grid_8">
        <h4>{{clusterSequence}}</h4>
        <prc-cluster-detail cluster-id="clusterId"></prc-cluster-detail>
    </span>
    <span class="grid_16">
        <h5>Consensus Spectrum</h5>
        <prc-spectrum-viewer update-spectrum-source="setSource"></prc-spectrum-viewer>
    </span>
</span>
