.facet-input {
    display: block;
    width: 100%;
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    font-family: inherit;
    margin: 0;
    box-sizing: border-box;
    cursor: auto;
}

.facet-box {
    border: dashed #64B0B0 1px;
    padding: 0 10px 10px 10px;
    margin-bottom: 20px;
}

.search-table-header {
    padding: 5px 15px 5px 5px;
}

.search-table-header.sorted{
    font-size: 105%;
}

.search-table-header.not-sorted{
    background-image: url("/img/sort.png");
    background-repeat: no-repeat;
    background-position: right;
}

.search-table-header.desc{
    background-image: url("/img/sortDesc.png");
    background-repeat: no-repeat;
    background-position: right 10px;
}

.search-table-header.asc{
    background-image: url("/img/sortAsc.png");
    background-repeat: no-repeat;
    background-position: right 10px;
}

tr.pointer > td{
    cursor: pointer;
}

.scroll-area {
    /*width: 270px;*/
    height: 144px;
    overflow: auto;
    /*white-space:nowrap;*/
    padding-bottom: 10px;
}