<prc-local-header menu="about"></prc-local-header>

<div id="content" class="grid_24 clearfix">

    <!-- If you require a breadcrumb trail, its root should be your service.
You don't need a breadcrumb trail on the homepage of your service... -->
    <nav id="breadcrumb">
        <p>
            <a href="#/">PRIDE Cluster</a> &gt;
            About
        </p>
    </nav>

    <div role="main" class="grid_18">
        <h2 id="rest-api" class="icon icon-generic" data-icon="i">
            About PRIDE Cluster
        </h2>

        <div class="help-content">
            <p>
                PRIDE Cluster contains all public identified experiments in the PRIDE repository and clusters them using an algorithm based on the normalized dot product (see publication). Thereby, similar spectra are grouped together solely based on their peaks.
            </p>
        </div>

        <h3 id="publication">Publications / how to cite</h3>
        <div class="help-content">
            <blockquote>
                Griss J, Foster JM, Hermjakob H, Vizcaíno JA. PRIDE Cluster: building a consensus of proteomics data. Nat Methods. 2013 Feb;10(2):95-6. <a href="http://www.ncbi.nlm.nih.gov/pmc/articles/PMC3667236/">PubMed</a>
            </blockquote>
        </div>

        <h3 id="team">The team</h3>
        <div class="help-content">
            <p>
                PRIDE is part of the EMBL-EBI Proteomics Services, led by <a href="http://www.ebi.ac.uk/about/people/henning-hermjakob" target="_blank">Henning Hermjakob</a>. The PRIDE team currently consists
                of software developers, biocurators, trainees/visitors and one project coordinator.
            </p>

            <p>
                The main contributors to the PRIDE Cluster project include:
                <ul>
                    <li>Johanness Griss</li>
                    <li>Rui Wang</li>
                    <li>Jose A Dianes</li>
                    <li>Noemi Del Toro Ayllon</li>
                    <li>Steve Lewis</li>
                    <li>Juan A Vizcaino</li>
                </ul>
            </p>
        </div>

        <h3 id="acknowledgement">Acknowledgement</h3>
        <div class="help-content">
            <p>
                The PRIDE team would like to thank all data submitters for their contributions. The PRIDE team is funded at present by the Wellcome Trust [grant number WT101477MA], and the BBSRC grants BB/I00095X/1, BB/K01997X/1 and BB/L024225/1] and EMBL core funding.
            </p>

            <p>
                In recent years, PRIDE has also been funded by the Wellcome Trust [grant number WT085949MA], the EU FP7 grants 'ProteomeXchange’ [grant number 260558], ‘PRIME-XS’ [grant number 262067], and ‘LipidomicNet’ [grant number 202272], and the BBSRC grant ‘PRIDE Converter’ [reference BB/I024204/1].
            </p>

            <p>
                The PRIDE team would like to thank the following companies for their support through the offering of free software licenses:

                <ul>
                    <li><a href="https://www.jetbrains.com/" target="_blank">JetBrains</a> for the most intelligent Java IDE - <a href="https://www.jetbrains.com/idea/index.html" target="_blank">IntelliJ IDEA</a>.</li>
                </ul>
            </p>
        </div>
    </div>

    <div class="grid_6 clearfix" role="complementary">
        <h3 class="icon icon-functional" data-icon="M">Topics</h3>

        <div class="help-content">
            <ul>
                <li><a ng-click="scrollTo('publication')">Publications / how to cite</a></li>
                <li><a ng-click="scrollTo('team')">The team</a></li>
                <li><a ng-click="scrollTo('acknowledgement')">Acknowledgement</a></li>
            </ul>
        </div>
    </div>
</div>
