<prc-local-header menu="statistics"></prc-local-header>

<div id="content" role="main" class="grid_24 clearfix view-animate-container">

    <!--<div class="grid_24 clearfix">-->
        <!--<prc-peptide-species-chart></prc-peptide-species-chart>-->
    <!--</div>-->

    <div class="grid_24 clearfix">
        <div class="grid_12">
            <prc-peptide-count-chart></prc-peptide-count-chart>
        </div>

        <div class="grid_12 clearfix">
            <prc-cluster-count-chart></prc-cluster-count-chart>
        </div>
    </div>



</div>
