<prc-local-header menu="statistics"></prc-local-header>

<div  id="content" role="main" class="grid_24 clearfix view-animate-container">
    <div class="grid_24 clearfix content">
        <div class="grid_12">
            <prc-peptide-count-chart></prc-peptide-count-chart>
        </div>

        <div class="grid_12">
            <prc-cluster-count-chart></prc-cluster-count-chart>
        </div>
    </div>

    <div class="grid_24 clearfix content">
        <div class="grid_12">

        </div>

        <div class="grid_12">
        </div>
    </div>
</div>
