<div>
    <nvd3-multi-bar-chart
            data="clusterCountData"
            id="clusterCountChart"
            width="600"
            height="400"
            margin="{left:80,top:20,bottom:80,right:20}"
            showXAxis="true"
            showYAxis="true"
            x="xFunction()"
            y="yFunction()"
            tooltips="true"
            tooltipcontent="toolTipContentFunction()"
            interactive="true"
            rotateLabels="15"
            >
        <svg></svg>
    </nvd3-multi-bar-chart>
</div>