<prc-local-header menu="list"></prc-local-header>

<div id="content" role="main" class="grid_24 clearfix view-animate-container">
    <!-- If you require a breadcrumb trail, its root should be your service.
    You don't need a breadcrumb trail on the homepage of your service... -->
    <span class="grid_24">
        <nav id="breadcrumb" class="grid_16">
            <p>
                <a href="http://www.ebi.ac.uk/pride">PRIDE</a> &gt;
                <a href="#/">PRIDE Cluster</a> &gt;
                <a ng-href="#/id/{{clusterId}}">Cluster Details</a> &gt;
                PSMs
            </p>
        </nav>
    </span>
    <section class="grid_22 push_1" id="search-results">
        <!-- Body content uses components/clusterList-directive -->
        <prc-psm-list
                sequence="sequence"
                mod="modFilters"
                project="projectFilters"
                page="pageNumber"
                size="pageSize">
        </prc-psm-list>
    </section>
</div>
