<!--Results-->
<ul class="clusters">
    <h5>
        Showing {{totalResults}} clusters
        <span ng-show="query"> for query '{{query}}'</span>
    </h5>
    <span><prc-cluster-list-paging pagenumber="pageNumber" pagesize="pageSize" totalitems="totalItems"></prc-cluster-list-paging></span>
    <div class="animate-repeat" ng-repeat="cluster in clusters" >
        <section class="grid_6 cluster-summary">
            <a href="#/cluster/{{cluster.id}}">
            <!--<span class="grid_24">-->
                <!--<h3>Cluster {{cluster.id}}</h3>-->
            <!--</span>-->
            <span class="grid_24">
                <h3 ng-show="cluster.peptideSequence.length<=10">{{cluster.peptideSequence}}</h3>
                <h3 ng-show="cluster.peptideSequence.length>10">{{cluster.peptideSequence | limitTo: 10 }} ...</h3>
            </span>
            <span class="grid_24">
                <span class="grid_8"><h6>Spectra</h6><p>{{cluster.numberOfSpectra}}</p></span>
                <span class="grid_12 push_4"><h6>Max ratio</h6><p>{{cluster.maxRatio | number:3}}</p></span>
            </span>
            <span class="grid_24">
                <span class="grid_8"><h6>Avg. M/Z</h6><p>{{cluster.averagePrecursorMz | number:3}}</p></span>
                <span class="grid_12 push_4"><h6>Avg. Prec. Charge</h6><p>{{cluster.averagePrecursorCharge | number:2}}</p></span>
            </span>

            </a>
        </section>
    </div>
</ul>