<!--Results-->
<section class="grid_24">
        <span class="grid_8">
            <h5>
                Showing {{totalResults}} clusters
                <span ng-show="query"> for query '{{query}}'</span>
            </h5>
        </span>
    <div class="grid_8" id="search-controls">
        <prc-cluster-list-filters sequence="queryTerm"></prc-cluster-list-filters>
    </div>
        <span class="grid_8">
            <prc-cluster-list-paging pagenumber="pageNumber" pagesize="pageSize" totalitems="totalItems"></prc-cluster-list-paging>
        </span>
</section>
<div id="clusterChart">
    <svg height="600"></svg>
</div>