<div id="cluster-filters">
    <!--Filter Controls-->
    View as
    <button ng-click="listSubmit()">List</button>
    <button ng-click="chartSubmit()">Chart</button>
    <!--Sequence <input ng-model="sequenceFilter" ng-model-options="{ updateOn: 'blur', debounce: {'default': 1000, 'blur': 0} }" type="text"/>-->
    <!--Sort by-->
    <!--<select ng-model="sortField">-->
    <!--<option value="id">Cluster ID</option>-->
    <!--<option value="numberOfSpectra">Number of Spectra</option>-->
    <!--</select>-->
</div>