/* app css stylesheet */

body {
    padding-top: 20px;
}

/* SpeckTackle CSS */
.stgraph64 {
    top: 0;
    left: 0;
    width: 600px;
    height: 400px;
    float: left;
}

.stgraph7530 {
    width: 750px;
    height: 300px;
    float: left;
}

.stgraph5530 {
    width: 550px;
    height: 300px;
    margin-top: -10px;
    float: left;
}

.stgraph11030 {
    width: 1100px;
    height: 300px;
    margin-top: -10px;
    float: left;
}

.stgraph93 {
    width: 900px;
    height: 300px;
    float: left;
}

.tiled-summary {
    padding-right: 30px;
}

.tiled-summary p {
    margin-top: 0em;
    margin-bottom: 0.8em;
}

.tiled-summary h6 {
    border-bottom: dashed;
    border-bottom-width: 1px;
    border-bottom-color: #808080;
    margin-top: 1.5em;
    margin-bottom: 0em;
}

.cluster-summary h4 {
    color: #ffffff;
    border-bottom: dashed;
    border-bottom-width: 1px;
    border-bottom-color: #ffffff;
    /*border-bottom-color: #808080;*/
}

.HIGH {
    background-color: #eeeeee;
    margin-top: 1.5em;
    margin-bottom: 0em;
}

.MEDIUM {
    /*background-color: #99bb99;*/
    background-color: #eeeeee;
    margin-top: 1.5em;
    margin-bottom: 0em;
}

.LOW {
    /*background-color: #bb9999;*/
    background-color: #eeeeee;
    margin-top: 1.5em;
    margin-bottom: 0em;
}

.cluster-detail-container {
    background-color: #ffffff;
}

.cluster-detail-panel {
    /*background-color: #ddddee;*/
    margin-top: 1.5em;
    padding-bottom: 1.5em;
}

.cluster-detail-panel h4 {
    color: #000000;
    border-bottom: dashed;
    border-bottom-width: 1px;
    border-bottom-color: #000000;
    /*border-bottom-color: #808080;*/
}

/* ngAnimage for ngRepeat */
.animate-repeat {
    /*line-height:0px;*/
    list-style:none;
    box-sizing:border-box;
}

.animate-repeat.ng-move,
.animate-repeat.ng-enter,
.animate-repeat.ng-leave {
    -webkit-transition:all linear 0.5s;
    transition:all linear 0.5s;
}

.animate-repeat.ng-leave.ng-leave-active,
.animate-repeat.ng-move,
.animate-repeat.ng-enter {
    opacity:0;
}

.animate-repeat.ng-leave,
.animate-repeat.ng-move.ng-move-active,
.animate-repeat.ng-enter.ng-enter-active {
    opacity:1;
}
