/* app css stylesheet */

body {
    padding-top: 20px;
}

/* SpeckTackle CSS */
.stgraph64 {
    top: 0;
    left: 0;
    width: 600px;
    height: 400px;
    float: left;
}

.stgraph7530 {
    width: 750px;
    height: 300px;
    float: left;
}

.stgraph5530 {
    width: 550px;
    height: 300px;
    margin-top: -10px;
    float: left;
}

.stgraph11030 {
    width: 1100px;
    height: 300px;
    margin-top: -10px;
    float: left;
}

.stgraph93 {
    width: 900px;
    height: 300px;
    float: left;
}

.tiled-summary {
    padding-right: 30px;
}

.tiled-summary p {
    margin-top: 0em;
    margin-bottom: 0.8em;
}

.tiled-summary h6 {
    border-bottom: dashed;
    border-bottom-width: 1px;
    border-bottom-color: #808080;
    margin-top: 1.5em;
    margin-bottom: 0em;
}

.cluster-summary h4 {
    color: #3C6363;
    border-bottom: dashed;
    border-bottom-width: 1px;
    border-bottom-color: #64B0B0;
    /*border-bottom-color: #808080;*/
}

.HIGH {
    background-color: #e9fff4;
    margin-top: 1.5em;
    margin-bottom: 0em;
}

.MEDIUM {
    /*background-color: #99bb99;*/
    background-color: #eeeeee;
    margin-top: 1.5em;
    margin-bottom: 0em;
}

.LOW {
    /*background-color: #bb9999;*/
    background-color: #eeeeee;
    margin-top: 1.5em;
    margin-bottom: 0em;
}

.cluster-detail-container {
    background-color: #ffffff;
}

.cluster-detail-panel {
    /*background-color: #ddddee;*/
    margin-top: 1.5em;
    padding-bottom: 1em;
}

.cluster-detail-panel h4 {
    color: #3C6363;
    border-bottom: dashed;
    border-bottom-width: 1px;
    border-bottom-color: #64B0B0;
    /*border-bottom-color: #808080;*/
}

/* ngAnimage for ngRepeat */
.animate-repeat {
    /*line-height:0px;*/
    list-style: none;
    box-sizing: border-box;
}

.animate-repeat.ng-move,
.animate-repeat.ng-enter,
.animate-repeat.ng-leave {
    -webkit-transition: all linear 0.5s;
    transition: all linear 0.5s;
}

.animate-repeat.ng-leave.ng-leave-active,
.animate-repeat.ng-move,
.animate-repeat.ng-enter {
    opacity: 0;
}

.animate-repeat.ng-leave,
.animate-repeat.ng-move.ng-move-active,
.animate-repeat.ng-enter.ng-enter-active {
    opacity: 1;
}

.species-img {
    width: 40px;
    background: #ffffff;
    border: double lightgrey;
    border-radius: 8pt;
    padding: 5pt;
}

.spectral-library {
    background: #e9fff4;
    border-bottom: solid #ffffff 10px;
    padding-bottom: 15px;
    padding-top: 5px;

}

.spectral-library h4 {
    border-bottom: 1px dashed #009488;
}

.links a {
    color: #ffffff;
    border-bottom-style: none;
}

.button {
    background: #38b4a9;
    background-image: -webkit-linear-gradient(top, #37A89D, #008994);
    background-image: -moz-linear-gradient(top, #37A89D, #008994);
    background-image: -ms-linear-gradient(top, #37A89D, #008994);
    background-image: -o-linear-gradient(top, #37A89D, #008994);
    background-image: linear-gradient(to bottom, #37A89D, #009ea9);
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    padding: 5px 10px 5px 10px;
    text-decoration: none;
    color: #ffffff;
}

.button:hover {
    background: #3DCABF;
    background-image: -webkit-linear-gradient(top, #3DCABF, #009EA9);
    background-image: -moz-linear-gradient(top, #3DCABF, #009EA9);
    background-image: -ms-linear-gradient(top, #3DCABF, #009EA9);
    background-image: -o-linear-gradient(top, #3DCABF, #009EA9);
    background-image: linear-gradient(to bottom, #3DCABF, #009EA9);
    text-decoration: none;
    color: #ffffff;
}

.code {
    font: 1em 'Courier New', Courier, Fixed, monospace;
    font-size: 100%;
    color: #000;
    background: #DFDFDF no-repeat left top;
    overflow: auto;
    text-align: left;
    border: 1px dashed #666666;
    padding: 5px 15px 5px 25px;
    margin: 1em 0 1em 0;
    line-height: 17px;
    font-weight: normal !important;
    font-family: monospace;
}

div.line-bottom {
    border-bottom: dashed #64B0B0 1px;
}

div.line-left {
    border-left: dashed #64B0B0 1px;
}

.menu-active {
    background-color: #000;
}

.project-title {
    margin: 40px 0px 20px 20px;
    color: #1E4B7D;;
    font-size: 130%;
}

.help-content {
    font-size: 110%;
}

.help-snippet {
    color: grey;
}

.spinning-wheel {
    margin-top: 70px;
    margin-bottom: 70px;
}

/* beta ribbon */
.wrapper {
    background: white;
    -webkit-box-shadow: 0px 0px 8px rgba(0,0,0,0.3);
    -moz-box-shadow:    0px 0px 8px rgba(0,0,0,0.3);
    box-shadow:         0px 0px 8px rgba(0,0,0,0.3);
    position: relative;
    z-index: 90;
}

.ribbon-wrapper-green {
    width: 85px;
    height: 88px;
    overflow: hidden;
    position: absolute;
    top: -3px;
    right: -3px;
}

.ribbon-green {
    font: bold 15px Sans-Serif;
    color: #333;
    text-align: center;
    text-shadow: rgba(255,255,255,0.5) 0px 1px 0px;
    -webkit-transform: rotate(45deg);
    -moz-transform:    rotate(45deg);
    -ms-transform:     rotate(45deg);
    -o-transform:      rotate(45deg);
    position: relative;
    padding: 7px 0;
    left: -5px;
    top: 15px;
    width: 120px;
    background-color: #BFDC7A;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#BFDC7A), to(#8EBF45));
    background-image: -webkit-linear-gradient(top, #BFDC7A, #8EBF45);
    background-image:    -moz-linear-gradient(top, #BFDC7A, #8EBF45);
    background-image:     -ms-linear-gradient(top, #BFDC7A, #8EBF45);
    background-image:      -o-linear-gradient(top, #BFDC7A, #8EBF45);
    color: #6a6340;
    -webkit-box-shadow: 0px 0px 3px rgba(0,0,0,0.3);
    -moz-box-shadow:    0px 0px 3px rgba(0,0,0,0.3);
    box-shadow:         0px 0px 3px rgba(0,0,0,0.3);
}

.ribbon-green:before, .ribbon-green:after {
    content: "";
    border-top:   3px solid #6e8900;
    border-left:  3px solid transparent;
    border-right: 3px solid transparent;
    position:absolute;
    bottom: -3px;
}

.ribbon-green:before {
    left: 0;
}
.ribbon-green:after {
    right: 0;
}