/* app css stylesheet */

body {
    padding-top: 20px;
}

/* SpeckTackle CSS */
.stgraph64 {
    top: 0;
    left: 0;
    width: 600px;
    height: 400px;
    float: left;
}

.stgraph7530 {
    width: 750px;
    height: 300px;
    float: left;
}

.stgraph5530 {
    width: 550px;
    height: 300px;
    margin-top: -10px;
    float: left;
}

.stgraph11030 {
    width: 1100px;
    height: 300px;
    margin-top: -10px;
    float: left;
}

.stgraph93 {
    width: 900px;
    height: 300px;
    float: left;
}

.tiled-summary {
    padding-right: 30px;
}

.tiled-summary p {
    margin-top: 0em;
    margin-bottom: 0.8em;
}

.tiled-summary h6 {
    border-bottom: dashed;
    border-bottom-width: 1px;
    border-bottom-color: #808080;
    margin-top: 1.5em;
    margin-bottom: 0em;
}

.cluster-summary h4 {
    color: #3C6363;
    border-bottom: dashed;
    border-bottom-width: 1px;
    border-bottom-color: #64B0B0;
    /*border-bottom-color: #808080;*/
}

.HIGH {
    background-color: #ffffff;
    margin-top: 1.5em;
    margin-bottom: 0em;
}

.MEDIUM {
    /*background-color: #99bb99;*/
    background-color: #eeeeee;
    margin-top: 1.5em;
    margin-bottom: 0em;
}

.LOW {
    /*background-color: #bb9999;*/
    background-color: #eeeeee;
    margin-top: 1.5em;
    margin-bottom: 0em;
}

.cluster-detail-container {
    background-color: #ffffff;
}

.cluster-detail-panel {
    /*background-color: #ddddee;*/
    margin-top: 1.5em;
    padding-bottom: 1em;
}

.cluster-detail-panel h4 {
    color: #3C6363;
    border-bottom: dashed;
    border-bottom-width: 1px;
    border-bottom-color: #64B0B0;
    /*border-bottom-color: #808080;*/
}

/* ngAnimage for ngRepeat */
.animate-repeat {
    /*line-height:0px;*/
    list-style:none;
    box-sizing:border-box;
}

.animate-repeat.ng-move,
.animate-repeat.ng-enter,
.animate-repeat.ng-leave {
    -webkit-transition:all linear 0.5s;
    transition:all linear 0.5s;
}

.animate-repeat.ng-leave.ng-leave-active,
.animate-repeat.ng-move,
.animate-repeat.ng-enter {
    opacity:0;
}

.animate-repeat.ng-leave,
.animate-repeat.ng-move.ng-move-active,
.animate-repeat.ng-enter.ng-enter-active {
    opacity:1;
}

.species-img {
    width: 40px;
    background: #ffffff;
    border: double lightgrey;
    border-radius: 8pt;
    padding: 5pt;
}

.spectral-library {
    background: #e9fff4;
    border-bottom: solid #ffffff 10px;
    padding-bottom: 15px;
    padding-top: 5px;

}

.spectral-library h4 {
    border-bottom: 1px dashed #009488;
}


.links a {
    color: #ffffff;
    border-bottom-style: none;
}

.button {
    background: #38b4a9;
    background-image: -webkit-linear-gradient(top, #37A89D, #008994);
    background-image: -moz-linear-gradient(top, #37A89D, #008994);
    background-image: -ms-linear-gradient(top, #37A89D, #008994);
    background-image: -o-linear-gradient(top, #37A89D, #008994);
    background-image: linear-gradient(to bottom, #37A89D, #009ea9);
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    padding: 5px 10px 5px 10px;
    text-decoration: none;
    color: #ffffff;
}

.button:hover {
    background: #3DCABF;
    background-image: -webkit-linear-gradient(top, #3DCABF, #009EA9);
    background-image: -moz-linear-gradient(top, #3DCABF, #009EA9);
    background-image: -ms-linear-gradient(top, #3DCABF, #009EA9);
    background-image: -o-linear-gradient(top, #3DCABF, #009EA9);
    background-image: linear-gradient(to bottom, #3DCABF, #009EA9);
    text-decoration: none;
    color: #ffffff;
}

.code {
    font: 1em 'Courier New', Courier, Fixed, monospace;
    font-size : 100%;
    color: #000;
    background : #DFDFDF no-repeat left top;
    overflow : auto;
    text-align:left;
    border : 1px dashed #666666;
    padding : 5px 15px 5px 25px;
    margin:1em 0 1em 0;
    line-height:17px;
    font-weight:normal!important;
    font-family: monospace;
}

div.line-bottom {
    border-bottom: dashed #64B0B0 1px;
}
div.line-left {
    border-left: dashed #64B0B0 1px;
}

