<!doctype html>
<html ng-app="prideClusterApp">
	<head>
		<title>PRIDE-Cluster</title>
		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.0.8/angular.min.js"></script>
    	<script src="static/js/pride-cluster.js"></script>
	</head>

	<body>
		<div ng-controller="PrideClusterCtrl">Search:
			<input ng-model="query" type="text" />
			<table class="table">
				<tr>
					<th> <a href="" ng-click="sortField ='id'; reverse = !reverse">Cluster ID</a>
					</th>
                    <th> <a href="" ng-click="sortField ='averagePrecursorMz'; reverse = !reverse">Average Precursor MZ</a>
                    </th>
                    <th> <a href="" ng-click="sortField ='averagePrecursorCharge'; reverse = !reverse">Average Precursor Charge</a>
                    </th>
                    <th> <a href="" ng-click="sortField ='numberOfSpectra'; reverse = !reverse">Number of Spectra</a>
                    </th>
                    <th> <a href="" ng-click="sortField ='maxRatio'; reverse = !reverse">Max Ratio</a>
                    </th>
				</tr>
				<tr ng-repeat="cluster in clusters | filter:query | orderBy:sortField:reverse">
					<td>{{cluster.id}}</td>
                    <td>{{cluster.averagePrecursorMz}}</td>
                    <td>{{cluster.averagePrecursorCharge}}</td>
                    <td>{{cluster.numberOfSpectra}}</td>
                    <td>{{cluster.maxRatio}}</td>
				</tr>
			</table>
		</div>
	</body>
</html>